<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>AI Email Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Analisador Inteligente</h1>
    <div class="container">

    <form method="POST" enctype="multipart/form-data">
        <h3>Cole o texto:</h3>
        <textarea name="meu_texto" rows="4" cols="50">{{ original if original }}</textarea>
        
        <hr>
        <h3>Ou envie um arquivo (.txt ou .pdf):</h3>
        <input type="file" name="arquivo" accept=".txt, .pdf">
        
        <br><br>
        <button type="submit">Processar Texto</button>
    </form>


    {% if analise %}
        <div class = "resultado">
            <h3>Resultado Gemini:</h3>
            <p>{{ analise }}</p>
        </div>
    {% endif %}

    </div>
   

</html>